/*============================================================================*/
/*Universal Styling*/

/*Nav styling*/
nav{
    width: 100%;
    height: 80px;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 20px;
}


.logo-img{
    height: 47px;
    width: 47px;
    border: 3px solid #2b2b2b;
    border-radius: 50%;
    float: left;
    text-align: center;
    margin-right: 10px;
    margin-top: -5px;
}
.logo-txt{
    color: #2b2b2b;
    float: left;
}

.nav-con ul{
    list-style: none;
}
.nav-con a{
    text-decoration: none;
}

.nav-con{
    width: 80%;
    height: 60px;
    float: right;
}

.nav-con li{
    height: 35px;
    background-color: #BBDFDD;
    color: #1F4A5D;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    float: left;
}

ul a{
    text-decoration: none;
    color: #2b2b2b;
}

.active{
    background-color: #1F4A5D !important;
    color: #f4f4f4 !important;
}

.nav-con li:hover{
    background-color: #1F4A5D;
    color: #f4f4f4;
}

.nav-con input{
    background-color: rgb(0, 0, 0,0.3);
    color: #f4f4f4;
    border-radius: 5px;
    margin-top: -15px;
    float: right;
}

/*header styling*/
header{
    width: 100%;
    height: 600px;
    margin-top: -80px;
    /*background-image: url(../assets/REXYaUHt5RqbNWeqPRtSwc-1200-80.jpg);
    background-position: center;
    background-size: cover; */
    background-color: lightgray;
}

.overlay{
    width: 100%;
    height: 600px;
    background-color: rgb(0, 0, 0,0.3);
    padding-top: 150px;
    padding-left: 10%;

}

header h3,h2{
    color: #f4f4f4;
}


/*Button in header default states*/
.play-button{
    height: 40px;
    background-color: #f4f4f4;
    color: #1F4A5D;
    border-radius: 20px;
    border: 2px solid #1F4A5D;
    margin-right: 20px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 5px;
    float: left;
    margin-top: 20px;
}

.shuffle-button{
    height: 40px;
    background-color: #f4f4f4;
    color: #1F4A5D;
    border-radius: 20px;
    border: 2px solid #1F4A5D;
    margin-right: 20px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 5px;
    float: left;
    margin-top: 20px;
}

.like-button{
    height: 40px;
    width: 40px;
    margin: 0 auto;
    background-color: #BBDFDD;
    color: #1F4A5D;
    border: 2px solid #1F4A5D;
    border-radius: 50%;
    float: left;
    margin-top: 20px;
}

/*Button in header hover states*/
.play-button:hover{
    background-color: #2B6267;
    color: #f4f4f4;
    cursor: pointer;
}
.shuffle-button:hover{
    background-color: #2B6267;
    color: #f4f4f4;
    cursor: pointer;
}
.like-button:hover{
    background-color: #2B6267;
    color: #f4f4f4;
    cursor: pointer;
}



/*featured artist section of page*/
.col-box{
    width:90% ;
    height: 480px;
    margin-left: -20%;
    margin-top: -40px;
    background-color: rgb(0, 0, 0,0.6);
}

.col-box h2,h1{
    color: #f4f4f4;
    padding-left: 15%;
}
.col-box p{
    width: 80%;
    margin-top: 20px;
    color: #f4f4f4;
    padding-left: 15%;
}

.col-video{
    width: 80%;
    height: 400px;
    margin-top: -40px;
    margin-left: 10%;
    position: relative;
    background-color: gray;
}

.next-button{
    width: 40px;
    height: 40px;
    margin: 0 auto;
    background-color: #BBDFDD;
    color: #1F4A5D;
    border: 2px solid #1F4A5D;
    border-radius: 50%;
    float: left;
    margin-top: 120px;
    margin-left: 80%;
}

.prev-button{
    width: 40px;
    height: 40px;
    margin: 0 auto;
    background-color: #BBDFDD;
    color: #1F4A5D;
    border: 2px solid #1F4A5D;
    border-radius: 50%;
    float: right;
    margin-right: 7%;
    margin-top: 120px;
}

.next-button:hover{
    background-color: #2B6267;
    color: #f4f4f4;
    cursor: pointer;
}

.prev-button:hover{
    background-color: #2B6267;
    color: #f4f4f4;
    cursor: pointer;
}

.rec-releases{
    margin-left: -5%;
    margin-top: 80px;
}

.pop-releases{
    margin-left: -5%;
    margin-top: 80px;
}

.cards{
    padding-left: 10%;
    padding-right: 10%;
}

.Rcards{
    width: 100%;
    height: 240px;
    margin-top: 20px;
    background-color: lightgrey;
}

.Pcards{
    width: 100%;
    height: 240px;
    margin-top: 20px;
    background-color: lightgrey;
}

footer{
    margin-top: 40px;
    width: 100%;
    height: 180px;
    padding-top: 60px;
    padding-left: 7.5%;
}

footer h5{
    color: #2b2b2b;
    float: left;
}

footer p{
    color: #2b2b2b;
    float: right;
    padding-right: 7.5%;
}

.col-info{
    width: 80%;
    height: 450px;
    background-color: lightgrey;  
    margin-left: 20%;
    margin-top: 100px;
}

.col-form{
    width: 80%;
    height: 450px;
    background-color: lightgrey;
    margin-top: 100px;
    margin-bottom: 200px;
}

form{
    height: 450px;
    width: 100%;
    margin: 0 auto;
    margin-top: 100px;
    background-color: #2b2b2b;
    color: #f4f4f4;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 25px;
    padding-bottom: 40px;
}

.input-el{
    width: 95%;
    height: 35px;
    margin-top: 10px;
    padding-left: 15px;
    border: none;
    border-radius: 20px;
    margin-bottom: 5px;
}

.input-tf{
    width: 95%;
    height: 100px;
    margin-top: 10px;
    padding-left: 15px;
    padding-top: 10px;
    border: none;
    border-radius: 20px;
}

select{
    width: 95% !important;
}

.input-btn{
    width: 50%;
    height: 50px;
    margin-top: 10px;
    padding-left: 15px;
    border: none;
    border-radius: 20px;
    margin-bottom: 5px;
    margin-left: 305px;
}

/*===========================================================================*/
/*Playlist page css*/
.mp-title{
    margin-top: 85px;
    margin-left: 10%;
}

.col-mix{
    width: 470px;
    height: 470px;
    background-color: lightgray;
    margin-top: 50px;
    margin-left: 10%;
}

.col-mix h1{
    text-align: center;
    font-weight: bold;
    color: #f4f4f4;
    padding-top: 170px;
    margin-left: -90px;
}

.playlist-logo{
    width: 45px;
    height: 45px;
    text-align: center;
    border: 5px solid white;
    border-radius: 50%;
    margin-top: 120px;
    margin-left: 200px;
    padding-top: 5px;
}

.button-group{
    margin-top: 150px;
    margin-left: -320px;
}

.mix-btn, .fav-btn{
    margin-right: 60px;
    float: left;
}

.fav-btn{
    font-weight: bold;
}

.song-container{
    width: 100%;
    height: 380px;
    
}

.song-banner{
    margin-top: 40px;
    font-weight: bold;
    margin-bottom: 40px;
}

.banner-el{
    margin-right: 60px;
    float: left;
}

.banner-st{
    margin-right: 180px;
    float: left;
}

.banner-al{
    margin-right: 140px;
    float: left;
}

.song{
    margin-top: 30px;
}

.bot-border{
    width: 75%;
    padding-top: 35px;
    margin-bottom: -20px;
    border-bottom: 2px solid #2b2b2b;
}

.song-el{
    padding-top: 12px;
    float: left;
    margin-right: 60px;
}

.song-t{
    float: left;
    margin-right: 172px;
}

.song-al{
    padding-top: 12px;
    float: left;
    margin-right: 100px;
}

.song-d{
    padding-top: 12px;
    float: left;
    margin-right: 90px;
}

.song-ic{
    padding-top: 12px;
    float: left;
    margin-right: 60px;
}


/*================================================================================*/
/*footer playlist page*/
.song-player{
    width: 100%;
    height: 200px;
    margin-top: 140px;
    background-color: #f4f4f4;
    color: #2b2b2b;
    font-weight: bold;
}

.unplayed{
    width: 93%;
    height: 10px;
    border-bottom: 5px solid lightgray;

    margin-top: -40px;
    margin-bottom: 40px;
}
.played{
    width: 30%;
    height: 10px;
    border-bottom: 5px solid #2b2b2b;
    margin-right: 10%;
    margin-top: -50px;
    margin-bottom: 40px;
}

.locater{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #2b2b2b;
    margin-top: -57px;
    margin-left: 29%;
    margin-bottom: 40px;
}


.song-image{
    height: 70px;
    width: 70px;
    margin-top: 15px;
    background-color: lightgray;
    float: left;
}
.song-text{
    float: left;
    margin-left: 20px;
    margin-top: 15px;
}

.player-buttons{
    margin-left: 500px;
}

.footP-btn{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #2b2b2b;
    color: white;
    text-align: center;
    float: left;
}

.footPr-btn{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #2b2b2b;
    color: white;
    text-align: center;
    margin-top: 25px;
    margin-left: 30px;
    margin-right: 30px;
    float: left;
}

.time-played{
    margin-top: 35px;
    margin-right: 40px;
    float: right;
}

.foot-settings{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #2b2b2b;
    color: white;
    text-align: center;
    margin-top: 25px;
    margin-right: 122px;
    float: right;
}