/*============================================================================*/
/*Universal Styling*/
    body{
        background-color: #2b2b2b;
    }
/*Nav styling*/
nav{
    width: 100%;
    height: 120px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
}

.nav-logo{
    width: 180px;
    height: 55px;
    float: left;
    margin-right: 10px;
    background-image: url(../assets/logo/stream_logo_white.png);
    background-position: center;
    background-size: cover;
}

.nav-con ul{
    list-style: none;
}
.nav-con a{
    text-decoration: none;
}

.nav-con{
    width: 85%;
    height: 60px;
    float: right;
    margin-top: -5px;
}

.nav-con li{
    height: 35px;
    color: white;
    font-family: 'Rajdhani', sans-serif;
    margin-right: 40px;
    padding-top: 5px;
    float: left;
}

.active{
    font-weight: bold !important;
}

.nav-con li:hover{
    font-weight: bold !important;
    color: #f7e280;
}

/*styling for the search bar*/
.search-bar{
    width: 255px;
    height: 50px;
    border: 2px solid #f7e280;
    border-radius: 50px;
    float: right;
    margin-top: -1%;
}

.search-bar input{
    width: 100%;
    height: 48px;
    color: #2b2b2b;
    font-family: 'Rajdhani', sans-serif;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 48px;
    border: none;
    padding-left: 20px;
    float: left;
    
}

.search-icon{
    margin-top: -33px;
    margin-right: 20px;
    float: right;
}


/*nav ending ===========================================*/


/*header styling*/
header{
    width: 100%;
    height: 900px;
    margin-top: -120px;
    background-image: url(../assets/spiritbox-band-2022.jpg);
    background-position: center;
    background-size: cover;
}

.header-overlay{
    width: 100%;
    height: 900px;
    background-color: rgb(0, 0, 0,0.3);
    padding-top: 15%;
    padding-left: 10%;

}

header h3{
    color: #f7e280;
    font-size: 36px;
    font-family: 'Montserrat', sans-serif;
}

header h2{
    color: #f7e280;
    font-size: 72px;
    font-family: 'Rajdhani', sans-serif;
}


/*Button in header default states*/
.headBtn-group{
    margin-top: 70px;
    font-size: 24px;
}
.play-button, .shuffle-button{
    font-family: 'Rajdhani', sans-serif;
    width: 225px;
    height: 70px;
    background-color: #f4f4f4;
    border: 2px solid #f7e280;
    border-radius: 50px;
    text-align: center;
    padding-top: 15px;
    margin-right: 20px;
    float: left;
}

.like-button{
    height: 70px;
    width: 70px;
    margin: 0 auto;
    border-radius: 50%;
    float: left;
}

/*Button in header hover states*/
.play-button:hover{
    background-color: #f7e280;
    color: #f4f4f4;
    cursor: pointer;
}
.shuffle-button:hover{
    background-color: #f7e280;
    color: #f4f4f4;
    cursor: pointer;
}
.like-button:hover{
    background-color: #f7e280;
    color: #f4f4f4;
    cursor: pointer;
}


/*==========================================================*/
/*featured artist section of page*/
.col-box{
    width:90% ;
    height: 560px;
    margin-top: -60px;
    padding-top: 15px;
    background-color: gray;
}

.col-box h2,h1{
    font-family: 'Rajdhani', sans-serif;
    color: #f4f4f4;
    padding-left: 15%;
}
.col-box p{
    width: 80%;
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
    color: #f4f4f4;
    padding-left: 15%;
}

.col-video{
    width: 80%;
    height: 390px;
    margin-top: -60px;
    margin-left: 10%;
    position: relative;
}

.prev-button{
    width: 50px;
    height: 50px;
    margin: 0 auto;
    border-radius: 50%;
    float: left;
    margin-top: 10%;
    margin-left: 80%;
}

.next-button{
    width: 50px;
    height: 50px;
    margin: 0 auto;
    border-radius: 50%;
    float: right;
    margin-top: 10%;
    margin-right: 20px;
}

.next-button:hover{
    background-color: #f7e280;
    color: #f4f4f4;
    cursor: pointer;
}

.prev-button:hover{
    background-color: #f7e280;
    color: #f4f4f4;
    cursor: pointer;
}

/*=========================================================*/
/*Recent Releases Section*/
.releases-title{
    margin-top: 80px;
    margin-bottom: 40px;
    margin-left: 10%;
    font-family: 'Rajdhani', sans-serif;
    color: #f7e280;
}

.cards{
    margin-top: 80px;
    padding-left: 10%;
    padding-right: 10%;
}

.Rcards1{
    width: 277px;
    height: 277px;
    background-image: url(../assets/albumCovers/The\ Devil\ Wears\ Prada\ -\ Reach.png);
    background-position: center;
    background-size: cover;
}
.Rcards2{
    width: 277px;
    height: 277px;
    background-image: url(../assets/albumCovers/granite.png);
    background-position: center;
    background-size: cover;
}
.Rcards3{
    width: 277px;
    height: 277px;
    background-image: url(../assets/albumCovers/Spiritbox_EternalBlue.jpg);
    background-position: center;
    background-size: cover;
}
.Rcards4{
    width: 277px;
    height: 277px;
    background-image: url(../assets/albumCovers/disparity.jpg);
    background-position: center;
    background-size: cover;
}


.rc-overlay{
    width: 277px;
    height: 207px;
    margin-top: -15px;
    padding-top: 70px;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
}
.rc-overlay:hover{
    opacity: 1;
}

.rc-icon{
    width: 70px;
    height: 70px;
    border-radius: 35px;
    margin: 0 auto;
}

.rc-content{
    width: 277px;
    height: 70px;
    margin-top: 67px;
    background-color: #f7e280;
    color: white;
    padding-left: 15px;
    padding-top: 9px;
    font-family: sans-serif;
}
.rc-content p{
    margin: 0;
    margin-left: -38px;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
}
.rc-content h5{
    width: 207px;
    font-size: 18px;
    font-family: 'Rajdhani', sans-serif;
}

.rc-content img{
    height: 40px;
    width: 40px;
    float: right;
    margin-right: 10px;
    margin-top: -47px;
}

.rc-content img:hover{
    height: 40px;
    width: 40px;
    border-radius: 20px;
    cursor: pointer;
    background-color: #2b2b2b;
}

/*=========================================================*/
/*Popular Albums Section*/
.popular-title{
    margin-top: 80px;
    margin-bottom: 40px;
    margin-left: 10%;
    color: #f7e280;
    font-family: 'Rajdhani', sans-serif;
}


.Pcards1{
    width: 277px;
    height: 277px;
    background-image: url(../assets/albumCovers/carbonised.png);
    background-position: center;
    background-size: cover;
}
.Pcards2{
    width: 277px;
    height: 277px;
    background-image: url(../assets/albumCovers/pain_remains.jpg);
    background-position: center;
    background-size: cover;
}
.Pcards3{
    width: 277px;
    height: 277px;
    background-image: url(../assets/albumCovers/doomswitch.png);
    background-position: center;
    background-size: cover;
}
.Pcards4{
    width: 277px;
    height: 277px;
    background-image: url(../assets/albumCovers/corporation.png);
    background-position: center;
    background-size: cover;
}
.Pcards5{
    width: 277px;
    height: 277px;
    background-image: url(../assets/albumCovers/death_below.jpg);
    background-position: center;
    background-size: cover;
}
.Pcards6{
    width: 277px;
    height: 277px;
    background-image: url(../assets/albumCovers/bury_tomorrow.png);
    background-position: center;
    background-size: cover;
}
.Pcards7{
    width: 277px;
    height: 277px;
    background-image: url(../assets/albumCovers/architects.jpg);
    background-position: center;
    background-size: cover;
}
.Pcards8{
    width: 277px;
    height: 277px;
    background-image: url(../assets/albumCovers/alias.png);
    background-position: center;
    background-size: cover;
}

/*=========================================================*/
footer{
    width: 100%;
    height: 140px;
    padding-top: 60px;
    padding-left: 10%;
}

.footer-logo{
    margin-top: 20px;
    font-family: 'Rajdhani', sans-serif;
    color: white;
    font-size: 18px;
    float: left;
}

.social-media{
    padding-right: 10%;
    float: right;
}

.social-y{
    width: 50px;
    height: 50px;
    float: right;
    margin-right: 10px;
}

.social-y:hover,.social-f:hover,.social-t:hover,.social-i:hover{
    cursor: pointer;
}

.social-f{
    width: 50px;
    height: 50px;
    float: right;
    margin-right: 10px;
}
.social-t{
    width: 50px;
    height: 50px;
    float: right;
    margin-right: 10px;
}
.social-i{
    width: 50px;
    height: 50px;
    float: right;
}
/*=========================================================*/