nav{
    width: 100%;
    height: 80px;
    background-color: gray;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 20px;
}

.logo{
    color: #f4f4f4;
    float: left;
}

.nav-con ul{
    list-style: none;
}
.nav-con a{
    text-decoration: none;
}

.nav-con{
    width: 80%;
    height: 60px;
    float: right;
}

.nav-con li{
    height: 35px;
    background-color: #f4f4f4;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    float: left;
}

.active{
    background-color: #2b2b2b !important;
    color: #f4f4f4;
}

.nav-con li:hover{
    background-color: #2b2b2b;
    color: #f4f4f4;
}

.nav-con input{
    background-color: rgb(0, 0, 0,0.3);
    color: #f4f4f4;
    border-radius: 5px;
    margin-top: -15px;
    float: right;
}

header{
    width: 100%;
    height: 600px;
    background-color: lightgray;
    padding-top: 150px;
    padding-left: 10%;
    padding-right: 10%;
}

.play-button{
    height: 40px;
    background-color: #f4f4f4;
    border-radius: 20px;
    border: 2px solid #2b2b2b;
    margin-right: 20px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 5px;
    float: left;
    margin-top: 20px;
}

.like-button{
    height: 40px;
    width: 40px;
    margin: 0 auto;
    background-color: #f4f4f4;
    border: 2px solid #2b2b2b;
    border-radius: 50%;
    float: left;
    margin-top: 20px;
}

.col-box{
    width:90% ;
    height: 480px;
    margin-left: -20%;
    margin-top: -40px;
    background-color: rgb(0, 0, 0,0.6);
}

.col-box h2,h1{
    color: #f4f4f4;
    padding-left: 10%;
}
.col-box p{
    width: 80%;
    margin-top: 20px;
    color: #f4f4f4;
    padding-left: 10%;
}

.col-video{
    width: 80%;
    height: 360px;
    margin-top: -40px;
    margin-left: 10%;
    position: relative;
    background-color: gray;
}

